<app-my-card class="app-my-login">
  <p  class="my-card-title">登录/注册  {{(certificate$ | async)?.email}}</p>
  <div class="my-card-body">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email"
               [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
<!--        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of emails" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>-->
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          邮箱格式不正确
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          请填写邮箱
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="密码"
               type="password"
               [formControl]="passwdFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          请填写密码
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="my-card-footer">
    <button mat-raised-button color="primary" (click)="login()">登录</button>
    <button mat-raised-button (click)="signUp()">注册</button>
  </div>
</app-my-card>
