.login-part{
  width: 400px;
  display: block;
  position: absolute;
  left: calc(50% - 200px);
  top: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
}

.card-contain{
  background: white;
}

.my-card-title{
  padding: 15px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #434343;
  overflow: auto;
  background: #f6f6f6;
}

.my-card-body{
  overflow: visible;
  padding: 15px;
}


.example-full-width{
  width: 100%;
  margin: 15px 0;
}

.my-card-footer{
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: row-reverse;
  button{
    display: block;
  }
  button + button {
    margin-right: 20px;
  }
}

.progress-bar{
  position: absolute;
}

.mess-contain {
  overflow: hidden;
  position: absolute;
  bottom: 6em;
  font-size: 12px;
  .errormsg {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    height: 1.5em;
    line-height: 1.5em;
  }
}
